
/* Pre-defined style and color (CSS VARIABLES)  */

:root{
    --main-color: white;
    --background-color:rgb(178, 175, 175);
    --box-shadow: 20px 10px 50px 2px rgb(181, 179, 179);
    --hover-box-shadow: 25px 15px 50px 3px rgb(181, 179, 179);
    --text-shadow: 5px 3px 50px 2px rgb(92, 0, 0);
    --text-shadow: 8px 5px 50px 3px rgb(181, 179, 179);
    --box-image:url('image/300X1200.webp');
    --rectangle-box:url('image/300X200.jpg');
    --square-box:url('image/100X100.jpg');

}


*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-sizing: border-box; */
}

.navigation{
    background-color: var(--main-color);
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 0.1px solid rgb(234, 234, 234);
    position: sticky;
    top: 0px;
    
/* 
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  border-bottom-left-radius: 100% 80%;
  border-bottom-right-radius: 50% 20%; */
}


.nav-logo{
    margin-right: auto;
    margin-left: 100px;
    cursor: pointer;


}
.logo-image{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border: none;
    border-radius:20px ;
    box-shadow: var(--box-shadow);
}

.nav-list{
    display: flex;

}

.nav-list li{
    display:inline-block;
    padding: 0px 13px;
    text-shadow: var(--text-shadow);
    cursor: pointer;


}

.nav-buttons{
    margin: 0px 30px ;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
      

}
.nav-btn{
    /* display: inline-block; */
    height: 25px;
    width:   60px;
    text-align: center;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;

    
    
}

.gray-btn{
    background-color: rgb(234, 233, 233);
    box-shadow:3px 2px 10px 2px rgb(204, 202, 202);

}

.black-btn{
    background-color: rgb(0, 0, 0);
    box-shadow:3px 2px 10px 2px rgb(179, 178, 178);
    color: white;

}



.hero-section{
    display: flex;
    height: 400px;
    padding: 60px;
    border-bottom: 0.1px solid rgb(234, 234, 234);   
}

.hero-section-image{
    justify-content: center;
    height: 400px; 
    object-fit: cover;
    
}




.image-card-section{
    height: 300px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 30px;
}


.image-card-img{
   display: flex;
   justify-content: center;
   align-items: center;
    border-radius:15px;
    box-shadow: var(--box-shadow);

}

.carg-img{
    height:300px ;
    object-fit: cover;
    border: none;
    border-radius:15px;
}

.full-image-section{
   
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-color);


}

.full-image-section-image{
        border: none;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
}

.services-container{
    margin: 20px;
    background-color: var(--main-color);
    display: block;
    align-items: center;
    padding: 20px;

}



.services-container-cards{
    background-color: var(--main-color);
    /* display: flex; */

}

.services-container-card{
    /* height: 150px; */
    border: 0.1px solid rgb(230, 230, 230);
    border-radius: 5px;
    box-shadow: 2px 2px 40px rgb(241, 240, 240);
    display: flex;
    gap: 20px;
    padding:20px;
    margin: 20px auto;
    cursor: pointer;


}

.services-container-card p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 8px auto;
}

.services-container-card button{
    height: 20px;
    width: 50px;
    justify-self: auto;
    cursor: pointer;
}



.card-container{
    display: block;
    margin: 20px;
    padding: 20px;



        /* ?curveness  
        background: linear-gradient(to right, #000428, #004e92);
        height: 300px;
        clip-path: ellipse(80% 40% at 50% 100%);
        */


}


.card-container-elements{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 20px ;
    gap: 20px;
}

.sub-card-container{
    height:auto;
        display: flex;
        background-color:var(--main-color);
        justify-content: space-evenly;
        padding: 20px;
        gap: 20px;
        box-shadow: var(--box-shadow);
        align-items: center;
        border: 0.1px solid rgb(230, 230, 230);
        border-radius: 8px;



}



/* ---bottop to top  */

.tap-to-top{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    bottom: 30px;
    right: 20px;
    position: fixed;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 8px  20px rgb(197, 195, 195);
}
.tap-to-top:hover{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;
    bottom: 30px;
    right: 20px;
    position: fixed;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px  20px rgb(170, 168, 168);
    cursor: pointer;
}

/* end */
.footer{
    display: block;
    margin: 30px;
}

.social-list{
    display:flex;
}

.social-list li {
    list-style: none;
    display: inline-block;
}

.footer-social-link{
    font-size: 20px;
}

.footer-align1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.footer-section-social{
    justify-content: center;
    align-items: start;
    padding: 20px;
    
}

.footer-section-social img{
    margin-top:0px 0px 30px 0px;

}

.footer-section-social ul{
    margin-top:30px;
    gap: 10px;
    
}

.footer-section{
        padding: 20px;
        display: inline-block;
        justify-content: start;
        align-items: center;
}

.footer-section h4{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 800px;
            margin: 30px auto;
}

.footer-section li{
        list-style: none;
        margin: 10px auto;


}







.footer-align2{
    background-color: rgb(237, 237, 237);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top:70px;

}

.footer-align2 h3{
    
    font-family:monospace;
    font-weight: 300;
    letter-spacing: 8px;
}


/* Styles for screens up to 767px wide (e.g., most mobile phones in portrait and landscape) */
@media screen and (max-width: 767px) {
    
.hero-section{
    display: flex;
    height: 400px;
    padding: 60px;
    border-bottom: 0.1px solid rgb(234, 234, 234);
    width: 700px;
    margin: auto;    */


}

.hero-section-image{
    justify-content: center;
    height: 400px; 
    object-fit: cover;
}
  
}

/* For smaller mobile devices */
@media screen and (max-width: 480px) {
  /* Styles for very small screens */
}