body{
    background-color: rgb(47, 185, 185);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 10px;
    height: 40vh;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: start;
}

.show-modal{
    margin: 30px auto;
    border: none;
    height: 50px;
    width:130px ;
    border-radius: 30px;
    background-color:  rgb(194, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px  10px 2px rgb(156, 219, 219);


        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-size: 20px;
    font-weight: 800px;

    cursor: pointer;
}

.btn:hover{
    margin: 30px auto;
    border: none;
    height: 50px;
    width:130px ;
    border-radius: 30px;
    background-color:  rgb(194, 232, 232);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px  10px 2px rgb(161, 223, 223);


}



.modal{
    
    height: auto;
    width: 400px;
    background-color: aquamarine;
    position: absolute;
    top: 20vh;
    left: 30vw;
    padding: 20px;

    /* box-shadow: 1px 4px 500000px 200px rgb(131, 224, 193); */
    display: flex;
    gap :20px;

    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1;
}

.close-modal{
    height: 30px;
    width: 30px;
    position: absolute;
    top:0px;
    right: 0px;
    background-color: rgb(64, 180, 143);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top-right-radius: 20px;
    margin: 2px;
}

.overlay{
    top:0px;
    right: 0px;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    /* opacity: 0.3; */
    filter: blur(400px);
}


.hidden{
    display:none ;
}
/*
 element.classList.remove("mystyle"); Remove mystyle class from DIV
  element.classList.add("newone"); */