/* BANK Appplication Css  */

/* universal applied CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
}

body{
    background-color: var(--primary-color);
}

/* Root Styling */

:root{
    --primary-color : #f3f3f3;
    --secondary-color: white;
    --btn-border-color:#ccc;
    --primary-font-color:#444;
    --secondary-font-color:  #888;
    /* LOAN REQUEST, TRANSFER MONEY, CLOSE ACCOUNT  COLORS GRADIENTS */
    --yellow-color-gradients : linear-gradient(to top left, #ffb003, #ffcb03);
    --green-color-gradients :linear-gradient(to top left, #39b385, #9be15d);
    --red-color-gradients : linear-gradient(to top left, #e52a5a, #ff585f);

    --transparent-background-color : rgba(255, 255, 255, 0.4);

    --font-family-Poppins: "Poppins", sans-serif;

    --active-color-gradients : linear-gradient(to top left, #ffffff, #efefef);

}

.navigation{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 5vw ;

}




.nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
}


.user_info{
    color: var(--primary-font-color);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}
.logo_image{
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.user_loginInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    
}
.userLogin_btn{
    height: 35px;
    width: 120px;
    /* border: 0.2px solid var(--btn-border-color); */
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: default;
    cursor:pointer;
    padding: 0px 35px ;
}.userLogin_btn:active{
    height: 35px;
    width: 120px;
    border: 0.2px solid var(--btn-border-color);
    border-radius: 20px;
    /* outline: none; */
    cursor: default;
    cursor:pointer;
    padding: 0px 35px ;
}

::placeholder {
  text-align: center;
  font-size: larger;
  font-weight: 300;
  color: var(--btn-border-color);
}

.login_btn{
    height: 35px;
    width: 120px;
    border-radius: 20px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: default;
    cursor:pointer;
    font-size: larger;
    color:var(--btn-border-color);

    cursor:pointer;
}

.login_btn:hover{
    height: 35px;
    width: 120px;
    border-radius: 20px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: default;
    cursor:pointer;
    font-size: larger;
    color:var(--btn-border-color);
    transform:translateX(10px);
    transition: transform 0.5s ease-in-out;
    cursor:pointer;
}

/* Hide Content Opacity 0 */

.hide-content{
    opacity: 0;
}









.balance-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: inherit;
    border: none;
    width: 80vw;
    margin: 70px auto;
    color: var(--primary-font-color);

    box-shadow: 2px 3px 5px var(--btn-border-color);
    /* background-color: #39b385; */
    padding: 15px ;
    border-radius: 20px;

    
}

.balance-heading{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:start;    
    /* background-color: red; */
}

.balance-title{
    font-size: 1.5rem;
    color: var(--primary-font-color);
    font-weight: 600;

}

.date-time{
    font-size: 1rem;    
    color: var(--secondary-font-color);
    font-weight: 400;
}

/* .actual-balance{
    
} */

.availble-balance{
    font-size:3rem;
    font-weight:300;
}

/*  Transection and  special Features (Operations) */





.transection-operations{
    margin: auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.aside-containers{
    border-radius:10px ;
    
    height: 500px;
}




/* TRANSECTION FIELD STARTS FROM HERE*/

.transection-field{
    width: 45vw;
    background-color: var(--secondary-color);
    /* border: 1px solid red; */
    box-shadow: 2px 1px 5px var(--btn-border-color);


    overflow-y: auto;
}

.transection-statements{
    height: 80px;
    width:40vw;
    margin: 25px auto;
    border-radius: 15px;
    background-color:var(--primary-color);

    cursor: pointer;
/* 
    display: flex;
    align-items: center;

    justify-content: space-around; */

    
}.transection-statements:active{
    height: 80px;
    width:40vw;
    margin: 25px auto;
    border-radius: 15px;
    background-image: var(--active-color-gradients);

    cursor: pointer;
/* 
    display: flex;
    align-items: center;

    justify-content: space-around; */

    /* On Active Styling */
}


.transection-statements{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 30px;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: 600; */

    box-shadow: 2px 1px 4px var(--btn-border-color);
    
}.transection-statements:hover{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0px 30px;

        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: 600; */

    box-shadow: 2px 1px 4px var(--btn-border-color);

    transform: translateY(-1px);
    transition: transform 0.1s ease-in ;
    
}


.transection-statement-history{
        display: flex;
    align-items: center;
    justify-content: center;


    gap: 30px;
}

.transection-type-deposit{
    height: 25px;
    width: 100px;
    background-image: var(--green-color-gradients);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    color: var(--primary-color);
}

.transection-time{
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-font-color);
}

.transection-amount{
    font-size: 27px;
    font-weight: 600;
}




/* -- Withdrals Statements Content Starts From here */


.transection-statement-history{
        display: flex;
    align-items: center;
    justify-content: center;


    gap: 30px;
}

.transection-type-withdrals{
    height: 25px;
    width: 100px;
    background-image: var(--red-color-gradients);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    color: var(--primary-color);
}

.transection-time{
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-font-color);
}

.transection-amount{
    font-size: 27px;
    font-weight: 600;
}




/* transfer field STARTS FROM HERE */


.operations-field{
    width: 35vw;
    /* background-color: var(--secondary-color); */
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    gap: 20px;
    height: inherit;
    
}


.operations-box{
    height: 153.30px;
    /* background-color: red; */
    /* width: auto; */
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}.operations-box:hover{
    height: 153.30px;
    /* background-color: red; */
    /* width: auto; */
    border-radius: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
    transform: translateY(-1px);
    transition:transform,  1s, ease-in;
}



.transfer-money{
    box-shadow: 2px 2px 7px var(--btn-border-color);
    background-image: var(--yellow-color-gradients);
    
}

.transfer-heading{
    font-size: 20px;
    font-weight:580;
    font-family: var(--font-family-Poppins);
}


.transfer-input{
    height: 35px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.4);

    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0px 25px;
}




/*  input box and the title  */

.transfer-input-fields{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
}


.transfer-input-fields > .input-align{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
}





.transfer-btn{
    height: 35px;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transform: translateX(20px);
    background-color: rgba(255, 255, 255,0.4);
    
}.transfer-btn:hover{
    height: 35px;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
}



.transfer-btn .move-to-right{
     transform:translateX(0px);
    /* animation: transform 1s ease-in-out; */
}.transfer-btn .move-to-right:active{
     transform:translateX(10px);
    animation: transform 0.5s ease-in;
}


/* request for the loan */

.request-loan{
        box-shadow: 2px 2px 7px var(--btn-border-color);
    background-image: var(--green-color-gradients);
}

.request-heading{
    
    font-size: 20px;
    font-weight:580;
    font-family: var(--font-family-Poppins);
}

/*  input fielf layout */
.request-input-fields{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
}


.request-input-fields > .input-align{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
}

.request-loan-input{
        height: 35px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.4);

    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0px 25px;
}

.request-loan-btn{
     height: 35px;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transform: translateX(20px);
    background-color: rgba(255, 255, 255,0.4);
    
}.request-loan-btn:hover{
    height: 35px;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
}



.request-loan-btn .move-to-right{
     transform:translateX(0px);
    /* animation: transform 1s ease-in-out; */
}.request-loan-btn  .move-to-right:active{
     transform:translateX(10px);
    animation: transform 0.5s ease-in;
}


/* Close Account Status */

.close-account{
        box-shadow: 2px 2px 7px var(--btn-border-color);
    background-image: var(--red-color-gradients);
}

.close-account-heading{
        
    font-size: 20px;
    font-weight:580;
    font-family: var(--font-family-Poppins);
}

/*  input fielf layout */
.close-account-input-fields{
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 15px;
}


.close-account-input-fields > .input-align{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
}


.close-account-input{
            height: 35px;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.4);

    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0px 25px;
}

.close-account-btn{
     height: 35px;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transform: translateX(20px);
    background-color: rgba(255, 255, 255,0.4);
    
}.close-account-btn:hover{
    height: 35px;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #fff;
}

.close-account-btn .move-to-right{
     transform:translateX(0px);
    /* animation: transform 1s ease-in-out; */
}.close-account-btn  .move-to-right:active{
     transform:translateX(10px);
    animation: transform 0.5s ease-in;
}


/* Account Status */

.status-main-section{
    width: 80vw;
    margin: 50px auto ;
    height: 80px;
    background-color: rgb(255, 255, 255);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: none;
    border-radius: 20px;
    padding: 20px;

    box-shadow: 2px 3px 5px var(--btn-border-color);
}


.account-status-bar{
    display: flex;
    flex-direction: row;

}

.account-status-bar p{
    text-transform: uppercase;
    font-family:var(--font-family-Poppins);
    font-size: 12px;
    font-weight: 600;

}


.account-status{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.amount-in{
    color: #39b385;
}

.amount-out{
    color: #e52a5a;
}

.intrest-amount{
    color: #39b385;

}



.account-status-amount{
    font-size: 25px;
    padding:0px 10px;
    font-weight: 600;

}


.account-status-filter p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.filter-icon{
     font-size: 25px!important;
}


.account-logged-out{
    
    font-size: 12px;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;

}