*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(153, 40, 205);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:40px;
}

.container{
    gap: 30px;

    margin-top:100px ;
height: auto;
min-height: 200px;
width: 500px;

display: flex;
flex-direction: column;

padding: 30px 20px;

background-color: rgb(162, 128, 225);
border: none;
border-radius: 20px;

box-shadow: 2px 3px 10px rgb(117, 67, 170);
}.container:hover{
    gap: 30px;


    margin-top:100px ;
height: auto;
min-height: 200px;
width: 500px;



display: flex;
flex-direction: column;

padding: 30px 20px;
background-color: rgb(162, 128, 225);
border: none;
border-radius: 20px;

box-shadow: 3px 4px 15px rgb(117, 67, 170);
}

.input{
    gap: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}





.input_field{
    height: 40px;
    width: 320px;
    border-bottom: 2px solid rgb(153, 40, 205);
    gap: 10px;

    border: none;
    outline: none;
    padding-left: 10px;
    
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    
}

.input_field::placeholder{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: rgb(153, 40, 205);
    font-weight: 400;
}

.input_search_btn{
    height: 40px;
    width: 120px;
    background-color: rgb(153, 40, 205);
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    color: white;
    box-shadow: 2px 1px 10px  rgb(153, 40, 205);

    cursor: pointer;

}.input_search_btn:hover{
    height: 40px;
    width: 120px;
    background-color: rgb(153, 40, 205);
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 400;
    color: white;
    box-shadow: 3px 2px 15px  rgb(153, 40, 205);

    cursor: pointer;
}

.pronoun{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.verb{
    font-size: 21px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
}

.pronoun_speaker_icon{
    color: rgb(153, 40, 205);
    font-size: 40px;
    cursor: pointer;

    /* box-shadow: 1px 2px 10px  rgb(186, 124, 215); */
}.pronoun_speaker_icon:hover{
    color: rgb(153, 40, 205);
    font-size: 40px;
    cursor: pointer;

    /* box-shadow: 2px 3px 15px rgb(186, 124, 215); */
}


.main_verb{
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    font-weight: 300;
    color: white;

}

.pronoun_defination{
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-weight: 400;
}

.short_pronoun_defination{
    font-size: 19px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:italic;
    font-weight: 200;
    text-indent: 5px;
    border-left: 3px solid rgb(117, 67, 170);
    margin-left: 20px;
    color: white;

    border-radius: 2px ;
}


.footer{
    font-size: 14px;
    color: white;
    font-weight: 400px;


}

.hide{
    display: none;
}

.sound_icon{
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;

    cursor: pointer;
}