*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(145, 140, 83);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap:40px;
}

.container{
    gap: 30px;
    margin-top:100px ;
height: auto;
min-height: 300px;
width: 500px;

display: flex;
flex-direction: column;
justify-content:  space-between;
align-items: center;

padding: 30px 20px;

background-color: rgb(210, 186, 65);
border: none;
border-radius: 20px;

box-shadow: 2px 3px 10px rgb(133, 126, 5);
}.container:hover{
    gap: 30px;


    margin-top:100px ;
height: auto;
min-height: 300px;
width: 500px;



display: flex;

justify-content: space-between;
align-items: center;

flex-direction: column;

padding: 30px 20px;
background-color: rgb(210, 186, 65);
border: none;
border-radius: 20px;

box-shadow: 3px 4px 15px rgb(133, 137, 64);
}


.btn{
    height: 40px;
    width: 120px;
    background-color: rgb(145, 140, 83);
    border: none;
    cursor: pointer;
    border-radius: 20px;
}