/* Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    
}


.container{
    margin-top: 10px;
    height: 95vh;
    width: 60vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 20px;
    box-shadow: 2px 3px 20px rgb(193, 193, 193);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 30px;
}.container:hover{
    margin-top: 10px;
    height: 95vh;
    width: 60vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: none;
    border-radius: 20px;
    box-shadow: 3px 4px 40px rgb(193, 193, 193);
}


.emogy{
    font-size: 140px;
    margin-bottom: 80px;
}

.content{
    min-height: 200px;

    padding: 30px;
    background-color: rgb(214, 214, 214);
    width: inherit;
    height: auto;
}

.btn{
    height: 40px;
    width: 120px;
    background-color: rgb(247, 247, 247);
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 2px 3px 13px ;

}.btn:hover{
    height: 40px;
    width: 120px;
    background-color: rgb(247, 247, 247);
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 600;
    box-shadow: 2px 3px 15px ;
}